*{
    box-sizing: border-box;
    margin: 0px;

}

:root{
    text-align: center;
}

.container{
    display: flex;
   flex-direction:column;
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 1rem;
}

#bill-amount{
    text-align: center;
    display: block;
}

header{
    text-align: center;
    
}

table{
    text-align: center;
}

input{
    display: block;
    text-align: center;
   
}

button{
   display: block;
}